@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-base);
  color: var(--clr-primary);
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: var(--font-primary);
}

a {
  color: inherit;
  border-radius: var(--border-radius);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

label {
  color: var(--clr-primary);
  font-size: var(fs-300);
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  line-height: 1;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 1px solid var(--clr-primary);
  outline-offset: 3px;
}

.horizontal_flow > * + * {
  margin-left: 1rem;
}

.input {
  cursor: pointer;
  padding: 2rem 4rem;
  color: var(--clr-primary);
  background-color: transparent;
  border: 1px solid var(--clr-accent);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 1.4rem;
  font-family: inherit;
}
