*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-base);
  color: var(--clr-primary);
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: var(--font-primary);
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

label {
  color: var(--clr-secondary);
  letter-spacing: 1px;
}

:focus {
  outline: 2px solid var(--clr-primary);
}

.horizontal_flow > * + * {
  margin-left: 1rem;
}
