@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-base);
  color: var(--clr-primary);
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: var(--font-primary);
}

a {
  color: inherit;
  border-radius: var(--border-radius);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

label {
  font-size: var(--fs-300);
}

button {
  cursor: pointer;
  font-family: inherit;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 1px solid var(--clr-primary);
  outline-offset: 2px;
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-base);
}

.input {
  cursor: pointer;
  padding: 2rem 4rem;
  color: var(--clr-primary);
  background-color: transparent;
  border: 1px solid var(--clr-accent);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--fs-300);
  font-family: inherit;
}
