:root {
  // COLORS
  --clr-base: #fff;
  --clr-primary: #b655c8;
  --clr-accent: #e9d8e1;

  // FONT FAMILY
  --font-primary: 'Montserrat', sans-serif;

  // FONT SIZES
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;

  // TRANSITIONS
  --transition-duration: 300ms;
  --transition-timing-function: 300ms;

  // OTHER
  --border-radius: 4px;
}
