:root {
  // COLORS
  --clr-base: black;
  --clr-primary: orange;
  --clr-secondary: white;
  --clr-accent: #323232;

  // FONT FAMILY
  --font-primary: sans-serif;

  // FONT SIZES
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;

  // TRANSITIONS
  --transition-duration: 300ms;
  --transition-timing-function: 300ms;

  // OTHER
  --border-radius: 4px;
}
